*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: black;
    background: linear-gradient(to right, rgb(117,170,219), rgb(255,255,255), rgb(117,170,219));
    height: 100vh;
}

.tittle{
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.grid-layout{
    width: 80%;
    margin: auto;
    height: 150vh;
}

.grid-layout .estiloCard{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 69px;
    
    
}

.card{
    margin:auto ;
    border: 1px solid black;
    border-radius: 10%;
    text-align: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.9);
    background-color: white;
    width: 300px;
}

.card:hover{
    box-shadow: 0 12px 36px 0 rgba(82, 150, 214, 0.901);
}

.card img{
    margin: auto;
    width: 200px;
    height: 200px;
    transition: all .5s;
}

.card img:hover{
    transform: scale(1.2);
}

.card-body{
    
    padding: 5px;
    height: auto;
}

.precio{
    font-size: 25px;
    font-weight: 600;

} 
.titulocard{
    border-top: 10px;
    font-size: 1.8rem;
    border-bottom: 1px solid rgba(0,0,0,0.4);
}




.card-carrito{
    display: flex;
    background-color: bisque;
    border-bottom: 2px solid black;
    justify-content: center;
    align-items: center;
}

.card-img-top{
    width: 80px;
    height: 80px;
    margin: 10px 100px 10px 50px;
    float: left;
    
}

.card-title{
    
    margin: 10px;
    
}

.card-text{
    font-weight: bold;
    float: left;
    margin-top: 15px;
}

.btn-modal{

    margin-top: 8px;
    margin-left: 50px;
    width: 40px;
    height: 40px;
}

.btn{
    margin-bottom: 30px;
    background-color: rgb(15,15,15,.6);
    color: rgb(255,255,255);
}