*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: black;
    background: linear-gradient(to right, rgb(117,170,219), rgb(255,255,255), rgb(117,170,219));
    height: 100vh;
}

.ordenador{
    margin-top: 15px;
}

/*cards principales*/

.titulo-ppal{
    text-align: center;
    margin: 20px;
    padding: 80px;
}

.grid-layout{
    width: 80%;
    margin: auto;
    height: 250vh;
}

.grid-layout .estiloCard{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 69px;
    
    
}

.card{
    margin:auto ;
    border: 1px solid black;
    border-radius: 10%;
    text-align: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.9);
    background-color: white;
    width: 300px;
    height: 350px;
}

.card-title{
    margin: 15px;
    font-size: 25px;
    font-weight: bolder;
    text-transform: capitalize;
}

.card img{
    margin: 5px auto 5px auto;
    padding: 5px;
    width: 200px;
    height: 200px;
    transition: all .7s;
    
    background-color: rgb(230,230,230);
}

.card img:hover{
    transform: scale(1.2);
}

.card-body{
    
    padding: 5px;
    height: auto;
    align-content: flex-end;
}

.ofertaColor{
    font-size: 25px;
    font-weight: bold;

} 

.card .btn-compra{
    width: 60%;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: aliceblue;
    font-style: bold;
    background-color:rgba(0, 100, 248, 0.7);
    border-radius: 10px;

}

.card .btn-compra:hover{
    background-color:rgba(60, 179, 113, 0.8);
    color: black;
    

}

/*carrito de compras*/

.btn-modal{

    margin-top: 8px;
    margin-left: 50px;
    width: 40px;
    height: 40px;
}

.card-modal{
    display: flex;
    background-color: rgb(142, 141, 141, .2);
    border-bottom: 2px solid black;
    align-items: center;
    width: 420px;
    height: 160px;

}

.space-img{
    width: 180px;
    height: 180px;
}

.card-img-top{
    width: 100px;
    height: 100px;
    margin: 15%;
    float: left;
    
}

.card-body-modal{
    width: 240px;
    height: 180px;

}

.card-title{
    font-size: 20px;
    text-align: center;
    
}

.card-text{
    margin-right: 15px;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: crimson;
    background-color: rgb(192, 192, 195);
}

.cancelar{
    float: left;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-left: 40px;
    

}


.btn-carro{
    margin-left: 20px;
    padding: 10px;
    background-color: rgb(15,15,15,.6);
    color: rgb(255,255,255);
}

.acumulador{
    padding: 10px;
    text-align: center;
    background-color: antiquewhite;

}

.carrito-vacio{
    padding: 10px;
    text-align: center;
    background-color: antiquewhite;

}